@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /*Fonts*/
  --inter-font: "Inter", sans-serif;
  --font-weight-smb: 600; /*semibold*/
  --font-weight-reg: 400;
  --font-size-lg: 2.25rem;
  --font-size-md: 1.5rem;
  --font-size-reg: 1rem;

  /*Colors*/
  --blueberry: #4e80ee;
  --rich-black: #030616;
  --light-silver: #d2d5da;
  --ghost-white: #f8fafc;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: var(--inter-font);
}
h1,
h2 {
  font-weight: var(--font-weight-smb);
}
p,
li,
a {
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-reg);
}
h1 {
  font-size: var(--font-size-lg);
  padding-bottom: 1rem;
}
h2 {
  font-size: var(--font-size-md);
  padding-top: 2rem;
}
.p-body {
  background-color: var(--ghost-white);
  padding-block: 3rem;
}
header {
  text-align: center;
  padding: 4rem;
}
.p-body section:first-of-type {
  border-bottom: 1px solid var(--light-silver);
}
section p:first-of-type {
  padding-block: 2rem;
}
section p:last-of-type {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
ul,
ol {
  padding-left: 1.5em;
}
a {
  color: var(--blueberry);
  text-decoration: none;
}

/*Mobile*/
@media screen and (max-width: 640px) {
  .p-body {
    padding-inline: 2rem;
  }
  li {
    padding-bottom: 0.5em;
  }
}

/*Tablet*/
@media screen and (min-width: 641px) and (max-width: 1279px) {
  .p-body {
    padding-inline: 4rem;
  }
  li {
    padding-bottom: 0.5em;
  }
}

/*Desktop/Laptop*/
@media screen and (min-width: 1280px) {
  .p-body {
    padding-inline: 20rem;
  }
  header {
    padding: 5rem;
  }
  li {
    padding-bottom: 1em;
  }
}
